{% extends '../../Layouts/main.html' %}
{% load static %}
{%block content%}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-16 mx-auto">
        <div class="flex items-center  gap-3 text-black py-5">
            <a href="/">Home</a>
            <i class="ri-arrow-right-double-line"></i>
            <a href="{% url 'listModel'%}" class="font-semibold ">All models</a>
        </div>
        <div id="models" class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 max-sm:grid-cols-1 lg:mx-12 max-sm:mx-0 gap-2">

        </div>
    </div>
</section>
<script src="{% static 'assets/js/loadingModels.js' %}"></script>
{% endblock %}