{%load static %}

<div class="mx-12">
    <div class="bg-gray-950 p-12 rounded-3xl rounded-bl-none rounded-br-none">
        <div class="flex justify-between items-center gap-3">
            <div class="flex items-center gap-4">
                <img class="h-16 w-16" src="{% static 'assets/images/KAIT-white.png' %}" alt="">
                <h3 class="font-bold text-white text-4xl">KAIT</h3>
            </div>
            <div>
                <a href="#" class="btn border-white  text-white flex items-center gap-2 items-center border-2 border-solid border-black border">
                    <span>
                        Buy me a coffee
                    </span>
                    <i class="ri-cup-line text-2xl"></i>
                </a>
            </div>
        </div>
        <div class="grid lg:grid-cols-2 md:grid-cols-1 md:gap-10 max-sm:grid-cols-1  mt-10">
            <div>
                <span class="bg-lime-300 inline-block py-1 px-2 rounded-xl text-lg font-semibold">Contacts</span>
                <ul class="text-white mt-3 flex flex-col gap-3">
                    <li>
                        Email: huynhdangkhoa.work@gmail.com
                    </li>
                    <li>
                        Phone Number: +84 767096431
                    </li>
                    <li>
                        Address: Ho Chi Minh City
                    </li>
                </ul>
            </div>
            <div>
                <div class="bg-white p-10 rounded-3xl flex items-center gap-2">
                    <a href="https://github.com/KAkhoa12/" target="_blank" class="flex-none rounded-3xl btn z-40 w-2/4 flex items-center justify-between">
                        <span>
                            github 
                        </span>
                        <span class="inline-block rounded-full bg-black w-10 h-10 text-black flex items-center justify-center">
                            <i class="ri-arrow-right-up-line text-white text-2xl"></i>
                        </span>
                    </a>
                    <a href="http://kait.id.vn/" class="btn bg-lime-300 hover:bg-lime-300 w-full py-4 hover:text-black hover:underline rounded-3xl">
                        kait.id.vn
                    </a>
                </div>  
            </div>
        </div>
        <span class="block h-px w-full bg-white my-10"></span>
        <div class="flex flex-col gap-3 text-white">
            <h3>© 2023 KAIT. All Rights Reserved.</h3>
            <h4 class="italic">website developed by <span class="relative before:absolute before:bg-lime-300 before:h-0.5 before:w-full before:-bottom-1 before:left-0">KAIT</span></h4>
        </div>
    </div>
</div>