{%load static%}
<header class="text-gray-600 body-font p-3 fixed top-0 right-0 left-0 bg-white z-50">
    <div class="mx-12 max-sm:mx-9">
        <div class="grid grid-cols-12">
            <div class="lg:col-span-6 md:col-span-6 max-sm:col-span-12 flex gap-10 items-center justify-between max-sm:w-full">
                {% include './sidebarleft.html' %}
                <a href="{% url 'index' %}" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0 max-sm:mb-0">
                    <img src="{% static 'assets/images/KAITLogoPng.png' %}" class="h-16 h-16 rounded-md " alt="">
                    <span class="ml-5 text-3xl font-bold">KAIT</span>
                </a>
            </div>
            <div class="lg:col-span-6 md:col-span-6 max-sm:hidden">
                <nav
                    id="navbar"
                    class=" flex flex-wrap items-center text-base lg:justify-center md:justify-end h-full"
                >
                    <div class="navbar-items md:hidden lg:block">

                    </div>
                    <a href="#" class="btn flex items-center gap-2 items-center border-2 border-solid border-black border">
                        <span>
                            Buy me a coffee
                        </span>
                        <i class="ri-cup-line text-2xl"></i>
                    </a>
                </nav>  
    
            </div>

        </div>
    </div>
</header>
<script src="{% static 'assets/js/loadingNavbar.js' %}"></script>