{% load static %}
<meta charset="UTF-8">
<link rel="icon" type="image/png" href="{% static 'assets/images/KAIT.png' %}" />
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}Trang chủ{% endblock %}</title>
<script src="https://cdn.tailwindcss.com"></script>
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
